@font-face {
  font-family: 'Futura PT';
  src: url('fonts/FuturaPT/FuturaPT-Light.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bodoni Cyrillic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('fonts/Bodoni/Bodoni-Cyrillic.woff') format('woff');
}
